<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <servlet>
        <servlet-name>TodoServlet</servlet-name>
        <servlet-class>com.company.TodoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TodoServlet</servlet-name>
        <url-pattern>/todo</url-pattern>
    </servlet-mapping>

</web-app>
